
<nav class="flex justify-between p-4 bg-purple-200">
    <div>
        <a routerLink="">Начало</a>
    </div>
    
    <div>
        <a class="mx-4" routerLink="home">Моите рецепти</a>
        <a class="mx-4" routerLink="create">Създайте рецепти</a>
        <ng-container *ngIf="!isAuthenticated()">
            <a class="mx-4" routerLink="login">Вход</a>
            <a class="mx-4" routerLink="register">Регистрация</a>
        </ng-container>
        <ng-container *ngIf="isAuthenticated()">
            <button (click)="logout()" class="mx-4">Изход</button>
        </ng-container>
    </div>
</nav>
<router-outlet/>